<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*"
           UpgradeCode="e857b46d-3034-4a81-b581-9d035396346d"
           Name="Traders App"
           Manufacturer="Northwind Traders"
           Version="!(bind.FileVersion.TradersAppExe)"
           Language="1033"
           >
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="ProductIcon.ico" SourceFile="$(var.TradersApp.ProjectDir)\nwicon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon.ico" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" After="CostFinalize" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Traders App" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="!(bind.property.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppProgramMenuFolder" Name="!(bind.property.Manufacturer)">
          <Component Id="AppProgramMenuFolderComponent">
            <RemoveFolder Id="AppProgramMenuFolder" On="uninstall" />
            <RegistryValue Root="HKMU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
       <Component Id="TradersAppExeComponent">
         <File Id="TradersAppExe" Source="$(var.TradersApp.TargetDir)\TradersApp.exe" KeyPath="yes">
           <Shortcut Id="DesktopShortcut"
                     Directory="AppProgramMenuFolder"
                     Name="Northwind Traders"
                     Advertise="yes"
                     Icon="ProductIcon.ico"
                     IconIndex="0"
                     Show="normal"
                     WorkingDirectory="APPDIR"
                     />
         </File>
         <util:RestartResource Path="[#TradersAppExe]" />
       </Component>
       <Component Id="TradersAppConfigComponent">
         <File Source="$(var.TradersApp.TargetDir)\TradersApp.exe.config" KeyPath="yes" />
       </Component>
      <ComponentRef Id="AppProgramMenuFolderComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>
